html
{
	font-size: 62.5%;
}

body
{
	background: #efefef;
}



.articles
{
	width: 100%;
	position: relative;
	top: 50px;
}

.titre
{
	background: #FF422A;
}

.description
{
	background: #1C1C1E;
}

.titre, .description
{
	margin: 0 0 2% 0;
	text-align: center;
	height:214.4px;
}

.titre p, .description p
{
	padding: 0;
	margin: 0;
}